#template('colorThemeInit.vm')
/* Redirecting the responsability of background-color to body, because of .container usage  */
#body {
  background: $theme.pageBackgroundColor $!{theme.pageBackgroundImage} $!{theme.pageBackgroundPosition};
}

/* Overwriting Bootstrap value */
/* Example: Document footer Add Attach or Comment zone */
.xwikiintracontent legend {
  border: none;
}

/* Bad usage of a class that has meaning inside Bootstrap */
/* Example: History table */
.xwikidatatable .row:after, .xwikidatatable .row:before {
  display: none;
}

/* Bad usage of a class that has meaning inside Bootstrap */
/* Example: History table or any other livetable */
.paginationFilter .pagination {
  margin-bottom: inherit;
  margin-top: inherit;
}

/* Bad usage of a class that has meaning inside Bootstrap */
/* Example: User Profile labels */
.user-page-pane .label {
  display: inherit;
  font-size: inherit;
  padding: inherit;
  text-align: inherit;
}

/* Bad usage of a class that has meaning inside Bootstrap */
/* Example: Blog Post footer */
.entry-footer address {
  display: inline;
  margin: 0;
}