/* --------------------Recommendations---------------------------
  * alphabetical order for the proprieties
  * 2 spaces indentation for the proprieties
-------------------------------------------------------------- */
#template('colorThemeInit.vm')

/* @group OVERWRITE */
/* --------------------------------------------------------------
  * Overwrites the Bootstrap standard values
-------------------------------------------------------------- */
/* Used by: Content in panels, vertical-menus, etc. */
ul, ol {
  padding: 0;
  margin-left: 2em;
}

/* Support nested <dl> */
li > dl, dt > dl, dd > dl {
  margin-left: 2em;
}

table {
  margin: 1em 0;
}

th {
  background-color: $theme.backgroundSecondaryColor;
}

/* @group FORM */
/* --------------------------------------------------------------
  * Styles form elements even if they are missing Bootstrap associated classes
-------------------------------------------------------------- */
textarea, select, input[type="text"], input[type="password"] {
  background-color: $theme.pageContentBackgroundColor;
  #css3_backgroundLinearGradient({
     'to': 'bottom',
     'colors': [
      {'color': $theme.fieldGradientColor, 'position': '1px'},
      {'color': $theme.pageContentBackgroundColor, 'position': '8px'}
    ]
  })
  border: 1px solid $theme.borderColor;
  border-radius: 4px;
  box-shadow: 0px 1px 2px $theme.borderColor;
  color: $theme.textColor;
}

input, textarea {
  #css3_boxSizing('border-box')
  padding: .3em;
}

textarea {
  max-width: 100%; /* Prevent resizing beyond the visible area in modern browsers */
}

/* @group XWIKI */
/* --------------------------------------------------------------
  * XWiki Specific classes
-------------------------------------------------------------- */
/* -----------------------Verbatim-------------------------*/
tt.wikimodel-verbatim {
  font-family: sans-serif;
  white-space: pre-wrap;
}

/* Reset for verbatim inside monospace */
tt .wikimodel-verbatim {
  font-family: monospace;
}

/* -----------------------Tables-------------------------*/
.main th, .main td,
.wiki-table th, .wiki-table td {
  border-top: 1px solid $theme.borderColor;
  padding: 8px;
}

/* -----------------Non Existing Links-------------------*/
span.wikicreatelink a {
  padding-right: 1em;
  position: relative;
  text-decoration: underline;
}

/* Round question mark with inverse colors */
span.wikicreatelink a:after {
  background-color: $theme.linkColor;
  /* 1.2em is the standard line height */
  border-radius: 1.2em;
  color: $theme.pageContentBackgroundColor;
  content: "?";
  font-size: 75%;
  font-weight: 700;
  line-height: 1.2em;
  padding: 0 0.3em;
  position: absolute;
  right: 0;
  top: 0.2em;
}

/* -------------------Edit Section-----------------------*/
.edit_section {
  display: block;
  /* Size of the image */
  height: 20px;
  /* The value of the <H> bottom margin */
  margin: -10px 0 0;
  overflow: hidden;
  position: relative;
}

.edit_section a, .edit_section span {
  background: transparent url("$xwiki.getSkinFile('icons/xwiki/edit-section.png')") no-repeat left top;
  position: absolute;
  right: 0;
  text-indent: -1000em;
  visibility: visible;
  width: 20px;
}

/* -----------------General Elements---------------------*/
/* DEPRECATED: Duplicate of .hide from Bootstrap */
.hidden {
  display: none !important;
}

.loading {
  background: transparent url("$xwiki.getSkinFile('icons/xwiki/spinner.gif')") no-repeat center;
}

.separator {
  color: $theme.textSecondaryColor;
}

.itemCount {
  color: $theme.textSecondaryColor;
}

.noitems {
  color: $theme.textSecondaryColor;
  font-size: .9em;
}

.centered {
  text-align: center;
}

/* ---------------------Columns--------------------------*/
/* DEPRECATED: Duplicate of the grid system from Bootstrap */
.column {
  float: left;
}

.full {
  width: 100%;
}

.half {
  width: 50%;
}

.third {
  width: 33.33%;
}

/* ---------------------Avatars--------------------------*/
.avatar_30 {
  max-width: 30px;
  max-height: 30px;
}

.avatar_50 {
  max-width: 50px;
  max-height: 50px;
}

.avatar_120 {
  max-width: 120px;
  max-height: 120px;
}

th.avatar {
  width: 50px;
}

/* @group VIEW LAYOUT */
/* --------------------------------------------------------------
  * Layout elements for Colibri skin in view mode
-------------------------------------------------------------- */
/* ----------------------Header--------------------------*/
#headerglobal {
  background: $theme.pageHeaderBackgroundColor $!{theme.headerBackgroundImage} $!{theme.headerBackgroundPosition};
  margin-bottom: 16px; /* TODO: Adjust values */
}

#companylogo a img {
  float: left;
}

#globallinks {
  float: right;
  padding: 8px 20px; /* TODO: Adjust values */
}

.globalsearch input {
  vertical-align: middle;
}

.globalsearchinput {
  width: 168px; /* TODO: Adjust values */
}

.globalsearch input.button , .globalsearch input.button:hover{
  background-color: $theme.pageContentBackgroundColor;
  background-image: none;
  border: 0;
  margin: 0 2px 0 -18px;
  padding: 0;
}

#headerlanguages {
  display: block;
  padding-top: 4px; /* TODO: Adjust values */
  text-align: right;
}

#headerlanguages a {
  background: $theme.menuBackgroundColor;
  border-radius: 4px;
  color: $theme.menuLinkColor;
  display: inline-block;
  margin: 2px; /* TODO: Adjust values */
  padding: 2px 4px; /* TODO: Adjust values */
}

.language-current {
  font-weight: 700;
  background: $theme.menuSelectedEntryBackgroundColor !important;
  color: $theme.menuSelectedEntryLinkColor !important;
}

.language-default {
  font-style: italic;
}

/* ----------------------Content-------------------------*/
.leftsidecolumns, #contentcolumn {
  float: left;
  width: 100%;
}

/* TODO: Adjust values */
.main {
  margin: 0 200px;
  padding: 0 25px 25px;
}

#body.hideleft #contentcolumn .main {
  margin: 0 200px 0 0;
}

#body.hideright #contentcolumn .main {
  margin: 0 0 0 200px;
}

#body.hidelefthideright #contentcolumn .main {
  margin: 0;
}

#body.content #contentcolumn .main {
  margin: 0 200px;
}

#mainContentArea, #mainEditArea  {
  background: $theme.pageContentBackgroundColor;
  overflow: auto;
  padding: 10px 25px;
}

#xwikicontent {
  clear: both;
  overflow: auto;
  width: 100%;
}

/* -----------------Top Doc Information------------------*/
#hierarchy {
  font-size: 90%;
  padding-top: 15px;
}

#document-title h1 {
  font-size: 2.15em;
}

#document-info {
  color: $theme.textPrimaryColor;
  font-size: 90%;
  padding: 3px 0 1em;
  text-align: right;
}

.xdocLastModification {
  float: left;
  text-align: left;
  width: 48%;
}

/* ---------------Bottom Doc Information------------------*/
#xdocFooter {
  background-color: $theme.pageContentBackgroundColor;
  color: $theme.textPrimaryColor;
  font-size: 90%;
  overflow: auto;
  padding: 5px 25px 10px;
  width: auto;
}

#xdocAuthors {
  text-align: right;
}

/* --------------------Doc Extra Tabs--------------------*/
#docextrapanes {
  background-color: $theme.pageContentBackgroundColor;
  overflow: auto;
  padding: 20px 25px 10px;
}

.xwikiintracontent fieldset {
  margin: 10px 0 0;
  padding: 8px 8px 8px 0;
}

.xwikiintracontent legend {
  color: $theme.titleColor;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 0.1em;
}

/* -----------------Tabs------------------*/
ul.xwikitabbar {
  margin: 0;
  padding: 3px 0 0 15px;
}
.xwikitabbar li {
  display: inline-block;
}

.xwikitabbar li a, .xwikitabbar li a:visited, .xwikitabbar li a:active{
  color: $theme.menuLinkColor;
  display: inline-block;
  font-size: .8em;
  font-weight: 700;
  line-height: 20px !important;
  padding: 0 10px;
  text-transform: uppercase;
}

.xwikitabbar li.active a, .xwikitabbar li.active a:active, .xwikitabbar li.active a:visited {
  background: $theme.pageContentBackgroundColor;
  color: $theme.menuSelectedEntryLinkColor;
  cursor: default;
  text-decoration: none;
}

/* ----------------History----------------*/
#historyform table {
  width: 100%;
}

#historyform .currentversion td {
  background-color: $theme.highlightColor;
}

#historyform th {
  font-size: .8em;
  text-transform: uppercase;
}

#historyform td {
  color: $theme.textPrimaryColor;
  font-size: .85em;
}

/* ----------------Changes----------------*/
#changes-info {
  background: $theme.backgroundSecondaryColor;
  color: $theme.textPrimaryColor;
  font-size: .9em;
  text-align: center;
  position: relative;
}

/* Create a theme-able arrow using CSS generated divs */
#changes-info:before, #changes-info:after {
  content: "";
  display: block;
  position: absolute;
}

#changes-info:before {
  top: 3em;
  right: 50%;
  width: 2em;
  height: 2em;
  background: $theme.pageContentBackgroundColor;
}

#changes-info:after {
  top: 2em;
  left: 50%;
  border-left: 3em solid $theme.pageContentBackgroundColor;
  border-top: 2em solid transparent;
  border-bottom: 2em solid transparent;
}

#changes-info-boxes {
  line-height: 1.4em;
  padding: 1.5em 0 0;
  /* Ensure that the text stays above the arrow */
  position: relative;
  z-index: 1;
}

#changes-info-box-from {
  float: left;
  width: 49%;
}

#changes-info-box-to {
  margin-left: 51%;
}

.changes-info-title {
  font-size: 1.4em;
  font-weight: 700;
}

#changes-info-comment {
  padding: 1.5em 0 1em;
}

/* --------------View Source--------------*/
.wiki-code {
  width: 100%;
}

/* --------------Information--------------*/
#informationcontent dd {
  padding: 0 1em 1em;
}

#informationcontent dt {
  font-size: .8em;
  text-transform: uppercase;
}

/* ----------------------Footer--------------------------*/
#footerglobal hr {
  display: none;
}

#footerglobal {
  color: $theme.textPrimaryColor;
  font-size: .7em;
  margin: 0 225px;
  padding: 0 0 25px;
  text-align: center;
  text-transform: uppercase;
}

#body.hideleft #footerglobal{
  margin: 0 225px 0 0;
}

#body.hideright #footerglobal {
  margin: 0 0 0 225px;
}

/* @group EDIT LAYOUT  */
/* --------------------------------------------------------------
  *  Layout elements for Junco skin in edit mode
-------------------------------------------------------------- */
.alleditcontent {
  margin: 0 25px 25px 20px;
}

.editor-wiki .alleditcontent, .editor-wysiwyg .alleditcontent {
  margin-right: 225px;
}

.alleditcontent label {
  display: block;
  font-size: .85em;
  font-weight: 700;
  margin: 10px 0 4px;
  text-transform: uppercase;
  color: $theme.textSecondaryColor;
}

#xwikidoctitleinput, .alleditcontent #parentinput input {
  width: 100%;
}

.inlinebody #hierarchy, .editbody #hierarchy {
  display: inline-block;
}

/* "Edit parent" icon */
.edit-meta-tools {
  display: inline-block;
  vertical-align: middle;
}

#mainEditArea:target #hierarchy, #mainEditArea:target .edit-meta-tools,
#mainContentArea:target #hierarchy, #mainContentArea:target .edit-meta-tools {
  display: none;
}

.edit-meta-tools a {
  display: block;
  width: 16px;
  height: 16px;
  overflow: hidden;
  text-indent: -9999px;
  background: transparent none left top no-repeat;
  margin-left: 4px;
}

.edit-meta-tools a.edit-parent {
  background-image: url("$xwiki.getSkinFile('icons/xwiki/parent_edit.gif')");
}

.edit-meta-tools a.hide-edit-parent {
  background-image: url("$xwiki.getSkinFile('icons/silk/chart_organisation.png')");
}

/* Parent editing area */
#mainEditArea #parentinput, #mainContentArea #parentinput {
  display: none;
  background: $theme.backgroundSecondaryColor;
  padding: 4px 12px;
  margin: 0 -12px 8px -12px;
  font-size: 90%;
}

#mainEditArea:target #parentinput, #mainContentArea:target #parentinput,
#mainEditArea #parentinput.active, #mainContentArea #parentinput.active  {
  display: block;
}

#parentinput label {
  margin: 0;
}

#parentinput input {
  color: $theme.linkColor;
}

/* @group EDITORS  */
/* --------------------------------------------------------------
  * These classes should be moved in proper editor css files
-------------------------------------------------------------- */
/* --------------------Wiki Editor-----------------------*/
.leftmenu2 { /* TODO: Rename */
  background-color: #f0f0ee;
  padding: 2px;
}

.leftmenu2 a img {
  margin: 2px;
}

#xwikieditcontentinner {
  border: 1px solid $theme.borderColor;
}

#xwikieditcontentinner #content {
  border: 0;
  width: 100%;
}

.wikimodel-emptyline {
  height: 1em;
}

.xwikirenderingerror {
  background: $theme.backgroundSecondaryColor url("$xwiki.getSkinFile('icons/silk/exclamation.png')") no-repeat 8px 50%;
  border: 1px dotted $theme.borderColor;
  color: $theme.notificationErrorColor;
  display: block;
  padding: 2px 28px;
}

.xwikirenderingerrordescription {
  border: 1px dotted $theme.borderColor;
  border-width: 0 1px 1px;
  clear: both;
  display: block;
  font-size: 90%;
  margin: 0 0 4px;
  overflow: auto;
  padding: 4px 28px;
}

/* ----------------Objects Editor------------------------*/
/* TODO: Move - Should be in dataeditors.css - added dt, div */
#body #xwikiobjects dt label, #body #xwikiclassproperties dt label {
  color: $theme.titleColor;
  font-size: 1.1em;
  font-weight: 400;
}

/* --------------DocumentInfo Panel----------------------*/
.DocumentInformation input#xhidden {
  width: auto;
  margin-right: 0.5em;
}

/* @group MENU */
/* --------------------------------------------------------------
  * Action Menu elements
-------------------------------------------------------------- */

/* Menus z-indexes */
#mainmenu, #mainmenu.submenu {
  z-index: 1000;
}

#contentmenu, #contentmenu.submenu, #contenteditmenu, #contenteditmenu.submenu {
  z-index: 999;
}

/* General */
.actionmenu {
  background-color: $theme.menuBackgroundColor;
  height: 1.6em;
  min-height: 22px;
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  z-index: 999;
}

.actionmenu .submenu {
  background: $theme.menuBackgroundColor;
  display: block;
  padding: 5px 5px 5px 10px;
  position: absolute;
  width: auto;
}

.leftmenu {
  position: absolute;
  left: 0;
  padding-left: 25px;
}

.rightmenu {
  position: absolute;
  right: 0;
  padding-right: 10px;
}

.topmenuentry {
  cursor: default;
  display: block;
  float: left;
  height: 1.6em;
  margin-right: 5px;
  min-height: 22px;
}

.rightmenu .topmenuentry {
  float: right;
}

.submenu .submenuseparator {
  border-top: 1px solid $theme.textSecondaryColor;
  display: block;
  line-height: 1px;
  margin: 7px 5px 7px 0;
}

.actionmenu .hasIcon {
  background: no-repeat 0px 3px;
  padding: 0;
}

.tme-extensible {
  display: block;
}

.tmetype {
  color: $theme.menuLinkColor;
  float: left;
  font: normal normal 700 0.8em/1.8em sans-serif;
  padding: 2px 5px 0 20px;
  text-transform: uppercase;
}

.menuarrow {
  color: $theme.menuLinkColor;
  font-size: .8em;
  line-height: 1.9em;
  margin-right: 10px;
}

.topmenuentry .separator {
  display: inline-block;
  font-size: .85em;
  line-height: 1.8em;
  margin: 0 3px 0 -3px;
}

/* Links */
.actionmenu a, .actionmenu a:visited {
  color: $theme.menuLinkColor;
  display: block;
  float: left;
  font: normal normal 700 0.8em/1.8em sans-serif;
  margin-right: -5px;
  padding: 2px 10px 0 0;
  width: auto;
  white-space: nowrap;
  text-transform: uppercase;
}

.actionmenu a:link, .actionmenu a:visited {
  cursor: pointer;
}

.actionmenu .hasIcon a.tme {
  padding-left: 20px;
}

.actionmenu .hasIcon a.hastype, .actionmenu a.hastype {
  padding-left: 0;
  text-transform: none;
}

.actionmenu a.hastype strong {
  font-weight: 400;
}

.actionmenu a strong {
  line-height: 1.8em;
}

.dropdownnolink a.tme:hover {
  text-decoration: none;
}

#actionmenu .rightmenu .submenuitem a {
  text-align: right;
  width: auto;
}

.submenuitem a {
  background: no-repeat 0;
  height: 16px;
  line-height: 20px;
  margin-bottom: 4px;
}

.actionmenu .submenuitem a, .actionmenu .submenuitem a:link, .actionmenu .submenuitem a:visited, .actionmenu .submenuitem a:active {
  float: none;
  font-weight: normal;
  height: auto;
  line-height: 1.2em;
  min-height: 14px; /* Make sure the menu icons fit */
  padding: 2px 20px 0;
  text-align: left;
  text-transform: none;
}

.actionmenu .tmCreate {
  background-color: $theme.menuAddEntryBackgroundColor;
  margin-right: 2em;
  padding-left: 10px;
  position: relative;
}

.actionmenu .tmCreate a.tme, .tmCreate .menuarrow {
  color: $theme.menuAddEntryLinkColor;
}

.tmCreate .submenu {
  margin-left: -15px;
}

/* Icons */
.actionmenu .tmCreate {
  background-image: url("$xwiki.getSkinFile('icons/silk/add.png')");
  background-position:  10px 3px;
  ## We don't use the #css3_backgroundIconAndLinearGradient macro because IE8 will accept the background-image property with multiple images, although it will fail to correctly interpret it
  #foreach ($prefix in ['-webkit-'])
    background: url("$xwiki.getSkinFile('icons/silk/add.png')") 10px 3px no-repeat, ${prefix}linear-gradient(to top, rgba(236,236,236,0.3) 0%, rgba(236,236,236,0) 30%, rgba(20,20,20,0) 70%, rgba(20,20,20,0.2) 100%) top $theme.menuAddEntryBackgroundColor;
  #end
  #foreach ($prefix in ['-moz-', '-o-', ''])
    background: url("$xwiki.getSkinFile('icons/silk/add.png')") 10px 3px no-repeat, ${prefix}linear-gradient(bottom, rgba(236,236,236,0.3) 0%, rgba(236,236,236,0) 30%, rgba(20,20,20,0) 70%, rgba(20,20,20,0.2) 100%) top $theme.menuAddEntryBackgroundColor;
  #end
}

.actionmenu .tmWiki {
  background-image: url("$xwiki.getSkinFile('icons/silk/world.png')");
}

.actionmenu .tmAdminWiki {
  background-image: url("$xwiki.getSkinFile('icons/silk/wrench.png')");
}

.actionmenu .tmCreateSpace {
  background-image: url("$xwiki.getSkinFile('icons/silk/folder_add.png')");
}

.actionmenu .tmSpace {
  background-image: url("$xwiki.getSkinFile('icons/silk/folder.png')");
}

.actionmenu .tmAdminSpace {
  background-image: url("$xwiki.getSkinFile('icons/silk/wrench.png')");
}

.actionmenu .tmSpaceDelete {
  background-image: url("$xwiki.getSkinFile('icons/silk/cross.png')");
}

.actionmenu .tmPage {
  background-image: url("$xwiki.getSkinFile('icons/silk/page_white_text.png')");
}

.actionmenu .tmCreatePage, .actionmenu .tmCreatePageFromOffice {
  background-image: url("$xwiki.getSkinFile('icons/silk/page_white_add.png')");
}

.actionmenu .tmCreateComment {
  background-image: url("$xwiki.getSkinFile('icons/silk/comment_add.png')");
}

.actionmenu .tmCreateAttachment{
  background-image: url("$xwiki.getSkinFile('icons/xwiki/attach_add.gif')");
}

.actionmenu .tmEdit {
  background-image: url("$xwiki.getSkinFile('icons/silk/page_white_edit.png')");
}

.actionmenu .tmEditWiki, .actionmenu .tmViewSource {
  background-image: url("$xwiki.getSkinFile('icons/silk/page_white_code.png')");
}

.actionmenu .tmEditWysiwyg {
  background-image: url("$xwiki.getSkinFile('icons/silk/page_white_edit.png')");
}

.actionmenu .tmEditInline {
  background-image: url("$xwiki.getSkinFile('icons/silk/application_form.png')");
}

.actionmenu .tmEditRights {
  background-image: url("$xwiki.getSkinFile('icons/silk/lock.png')");
}

.actionmenu .tmEditObject {
  background-image: url("$xwiki.getSkinFile('icons/silk/brick.png')");
}

.actionmenu .tmEditClass {
  background-image: url("$xwiki.getSkinFile('icons/silk/box.png')");
}

.actionmenu .tmExportPdf {
  background-image: url("$xwiki.getSkinFile('icons/silk/page_white_acrobat.png')");
}

.actionmenu .tmExportOdt {
  background-image: url("$xwiki.getSkinFile('icons/xwiki/odf_textdocument.png')");
}

.actionmenu .tmExportRtf {
  background-image: url("$xwiki.getSkinFile('icons/silk/page_white_word.png')");
}

.actionmenu .tmExportHtml {
  background-image: url("$xwiki.getSkinFile('icons/silk/page_white_world.png')");
}

.actionmenu .tmExportXar {
  background-image: url("$xwiki.getSkinFile('icons/silk/page_white_compressed.png')");
}

.actionmenu .tmPrintPreview {
  background-image: url("$xwiki.getSkinFile('icons/silk/page_white_magnify.png')");
}

.actionmenu .tmActionDelete {
  background-image: url("$xwiki.getSkinFile('icons/silk/cross.png')");
}

.actionmenu .tmActionRename {
  background-image: url("$xwiki.getSkinFile('icons/silk/textfield_rename.png')");
}

.actionmenu #tmActionShare {
  background-image: url("$xwiki.getSkinFile('icons/silk/email_go.png')");
}

.actionmenu .tmActionCopy {
  background-image: url("$xwiki.getSkinFile('icons/silk/page_white_copy.png')");
}

.actionmenu .tmUser {
  background-image: url("$xwiki.getSkinFile('icons/silk/user.png')");
}

.actionmenu .tmProfile {
  background-image: url("$xwiki.getSkinFile('icons/silk/vcard.png')");
}

.actionmenu .tmUserPreferences {
  background-image: url("$xwiki.getSkinFile('icons/silk/wrench.png')");
}

.actionmenu .tmWatchWiki, .actionmenu .tmWatchSpace, .actionmenu .tmWatchDocument {
  background-image: url("$xwiki.getSkinFile('icons/xwiki/star-gray.png')");
}

.actionmenu .tmWatchlistManager, .actionmenu .tmUnwatchWiki, .actionmenu .tmUnwatchSpace, .actionmenu .tmUnwatchDocument {
  background-image: url("$xwiki.getSkinFile('icons/xwiki/star-yellow.png')");
}

.actionmenu .tmWikiDocumentIndex, .actionmenu .tmSpaceDocumentIndex {
  background-image: url("$xwiki.getSkinFile('icons/silk/book_open.png')");
}

.actionmenu .tmUserNetwork {
  background-image: url("$xwiki.getSkinFile('icons/silk/group.png')");
}

.actionmenu .tmUserDashboard {
  background-image: url("$xwiki.getSkinFile('icons/silk/application_view_tile.png')");
}

/* Styles for the floating menu, when scrolling down the page. */
.floating-menu {
  margin-top: -18px;
}
.floating-menu:hover {
  margin-top: 0;
}
.floating-menu:after {
  bottom: 0;
  color: $theme.buttonSecondaryTextColor;
  background: inherit;
  content: ".......";
  display: block;
  font-size: 0.6em;
  height: 0.5em;
  letter-spacing: 0.2em;
  line-height: 0.3em;
  padding: 0 0 0.1em;
  position: absolute;
  text-align: center;
  #css_textShadow('0', '1px', '0', $theme.menuContentGradientColor)
  width: 100%;
}

.floating-menu:hover:after {
  content: "";
  display: none;
}

/* @group FORMS */
/* --------------------------------------------------------------
  * forms components
-------------------------------------------------------------- */
.xform h2, .xform legend {
  border-bottom: 1px dotted $theme.borderColor;
  color: $theme.titleColor;
  font-size: 1.2em;
  font-weight: 900;
  line-height: 1.2em;
}

.xform h2 {
  margin: 2em 0 0;
}

.xform fieldset {
  margin: 2em 0;
}

.xform fieldset:first-of-type {
  margin-top: 1em;
}

.xform fieldset:last-of-type {
  margin-bottom: 1em;
}

.xform input[type="text"], .xform input[type="password"], 
.xform select, .xform textarea {
  width: 100%;
}

.xform label input[type=checkbox], .xform label input[type=radio] {
  margin: 0 0.2em 0 0;
  vertical-align: text-bottom;
}

.xform textarea {
  resize: vertical;
}

.xform dt {
  margin-top: 1.2em;
}

.xform dt label, .xformInline label {
  color: $theme.textColor;
  font-size: .85em;
  font-weight: 700;
  margin-bottom: .3em;
  text-transform: uppercase;
}

.xform dt label {
  display: block;
}

/* Buttons next to the labels, for example the Customize buttons in Administration->Presentation */
.xform dt label .buttonwrapper {
  float: right;
  margin: 0 1% .3em;
}

.xform .xRequired {
  color: $theme.textSecondaryColor;
  font-size: .9em;
  font-style: italic;
  font-weight: 400;
  margin-left: 1ex;
  text-transform: none;
}

.xform .xHint {
  color: $theme.textSecondaryColor;
  display: block;
  font-size: .8em;
  font-weight: 400;
  margin-bottom: .3em;
}

.xform .xHelp {
  background: transparent url("$xwiki.getSkinFile('icons/silk/information.png')") 0 0 no-repeat;
  float: right;
  height: 16px;
  line-height: 250px; /* Push the text away. */
  margin-top: -20px; /* Should be 16px + 0.3em */
  margin-right: 1px; /* Compensate for the border on the input elements */
  overflow: hidden;
  text-align: left !important; /* Make sure the text is left-aligned so that the inner box always starts at the top-left corner */
  width: 16px;
}

.xform .xErrorMsg {
  color: $theme.notificationErrorColor;
  display: block;
  font-size: .8em;
  font-weight: 400;
  margin-bottom: .3em;
}

.xform .xErrorField {
  border: 1px solid $theme.notificationErrorColor;
}

.xform .buttons {
  margin: .8em 0;
}

/* @group BUTTONS */
/* --------------------------------------------------------------
  * Button elements different containers
-------------------------------------------------------------- */
.buttonwrapper {
  display: inline;
  margin: 5px 5px 0 0;
}

.buttonwrapper .button {
  vertical-align: middle;
}

*:disabled, input.disabled, button.disabled, .buttonwrapper a.disabled, .edit_section.disabled {
  opacity: .5;
  cursor: default;
}

/* --------------------- Icons --------------------------*/
/* Small icon buttons */
input.icon-button {
  background: transparent none center center no-repeat;
  border: 0 none;
  font-size: 80%;
  height: 16px;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  width: 16px;
}

.icon-button.add-button {
  background-image: url("$xwiki.getSkinFile('icons/silk/add.png')");
}

.icon-button.remove-button {
  background-image: url("$xwiki.getSkinFile('icons/silk/cross.png')");
}

.icon-button.accept-button {
  background-image: url("$xwiki.getSkinFile('icons/silk/accept.png')");
}

.icon-button.search-button {
  background-image: url("$xwiki.getSkinFile('icons/xwiki/search.png')");
}

/* Decorative icons */
.icon {
  vertical-align: middle;
}

.hasIcon {
  background: none no-repeat scroll 0 0 transparent;
  padding-left: 20px;
}

.iconRSS {
  background-image: url("$xwiki.getSkinFile('icons/silk/feed.png')");
}

/* @group VERTICAL MENU */
/* General styling */
.vertical-menu {
  border: 1px solid $theme.borderColor;
  border-top-width: 0;
  float: left;
  font-size: .857em;/* 14px -> 12px */
  margin: 0 2em 2em 0;
  width: 15em;
}

.vertical-menu ul {
  list-style-type: none;
  margin: 0;
}

.vertical-menu ul ul ul {
  margin-left: 2em;
}

.vertical-menu li {
  border-top: 1px solid $theme.borderColor;
  position: relative;
}

.vertical-menu span {
  background: none no-repeat scroll 7px transparent;
  display: block;
}

.vertical-menu a {
  display: block;
  padding: .5em .5em .5em 30px;
  text-decoration: none;
  word-wrap: break-word;
}

/* Section titles */
.vertical-menu .group {
  background-color: $theme.menuContentBackgroundColor;
  #css3_backgroundLinearGradient({
     'to': 'bottom',
     'colors': [
      {'color': $theme.menuContentGradientColor, 'position': '0%'},
      {'color': $theme.menuContentBackgroundColor, 'position': '100%'}
    ]
  })
  font-weight: 700;
  font-variant: small-caps;
}

.vertical-menu .group * {
  color: $theme.menuContentLinkColor;
}

/* Highlight items when hovering */
.vertical-menu span:hover {
  background-color: $theme.highlightColor;
}

.vertical-menu .group:hover {
  background-color: $theme.menuBackgroundColor;
  #css3_backgroundLinearGradient({
     'to': 'bottom',
     'colors': [
      {'color': $theme.menuGradientColor, 'position': '0%'},
      {'color': $theme.menuBackgroundColor, 'position': '50%'}
    ]
  })
}

.vertical-menu .group:hover * {
  color: $theme.menuLinkColor;
}

/* Selected item */
.vertical-menu .current {
  background-color: $theme.highlightColor;
  font-weight: bold;
}

.vertical-menu .current-group {
  background-color: $theme.menuBackgroundColor;
  #css3_backgroundLinearGradient({
     'to': 'bottom',
     'colors': [
      {'color': $theme.menuGradientColor, 'position': '0%'},
      {'color': $theme.menuBackgroundColor, 'position': '50%'}
    ]
  })
  color: $theme.menuLinkColor;
}

.vertical-menu .current-group *, .vertical-menu .current-group *:visited, .vertical-menu .current-group *:active {
  color: $theme.menuLinkColor;
}

/* Draw an arrow pointing right for the selected item */
.vertical-menu .current:after, .vertical-menu .current a:after {
  border-left: 10px solid $theme.highlightColor;
  border-top: 1.2em solid transparent;
  border-bottom: 1.2em solid transparent;
  content: "";
  display: block;
  position: absolute;
  right: -10px;
  top: 0%;
}

.vertical-menu .current a:after {
  border-left-color: $theme.borderColor;
  right: -11px;
}

.vertical-menu .current-group:after {
  border-left-color: $theme.menuBackgroundColor !important;
}

/* @group PANELS */
/* --------------------------------------------------------------
  * Panel elements
-------------------------------------------------------------- */
#rightPanels {
  float: right;
  margin: 0 0 0 -220px;
  width: 220px;
}

#leftPanels {
  float: left;
  margin: 0 0 0 -100%;
  width: 220px;
}

#editPanels {
  float: left;
  margin: 0 0 0 -220px;
  width: 220px;
}

.panel {
  display: block;
  width: 190px;
}

#leftPanels .panel {
  margin: 0 0 10px 20px;
}

#rightPanels .panel, #editPanels .panel {
  margin: 0 0 10px 10px;
}

h1.xwikipaneltitle {
  background-color: $theme.panelHeaderBackgroundColor;
  border-bottom: 0;
  color: $theme.panelHeaderTextColor;
  cursor: pointer;
  font-size: .8em;
  font-weight: 700;
  letter-spacing: 0;
  margin: 0;
  padding: 5px 20px 5px 15px;
  text-align: left;
  text-transform: uppercase;
}

.xwikipanelcontents {
  background-color: $theme.panelBackgroundColor;
  color: $theme.panelTextColor;
  font-size: .85em;
  line-height: 1.6em;
  overflow: hidden;
  padding: 10px 15px;
}

.xwikipanelcontents * {
  line-height: 1.6em;
}

.collapsed h1.xwikipaneltitle {
  background-color: $theme.panelCollapsedBackgroundColor;
  border: 0;
  color: $theme.panelCollapsedTextColor;
}

.collapsed .xwikipanelcontents {
  display: none;
}

.panel ul {
  list-style-type: none;
  margin: 0;
}

.panel ul ul {
  margin-left: 2em;
}

.panel ul li.active {
  line-height: 1.7em;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
}

.panel input, .panel select , .panel dt , .panel table, .padded label {
  font-size: .95em;
  margin: 0;
  padding: 0;
  width: 100%;
}

.panel dd, .panel .padded {
  padding: 0 0 .5em;
}

.panel dt, .padded label {
  font-weight: 700;
  text-transform: uppercase;
}

/* @group CONTAINERS GENERAL STYLING */
/* --------------------------------------------------------------
  * General rules that applied to different types of containers
-------------------------------------------------------------- */
/* -------------- Containers borders -----------------*/
#contentmenu, #editmenu,
#mainContentArea, #mainEditArea,
#xdocFooter,
#docextrapanes, ul.xwikitabbar {
  border: 1px solid $theme.borderColor;
}

#docextrapanes {
  box-shadow: 0px -1px 0px $theme.borderColor; /* #docExtraTabs bottom border */
}

#contentmenu, #editmenu {
  border-width: 1px 0 0;
}

#mainContentArea, #mainEditArea {
  border-width: 1px;
}

ul.xwikitabbar {
  border-width: 1px 1px 0;
}

.xwikipanelcontents, #docextrapanes, #xdocFooter {
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
}

.collapsed h1.xwikipaneltitle {
  border-radius: 4px 4px 4px 4px;
}

.xwikitabbar li.active a, .xwikitabbar li.active a:active, .xwikitabbar li.active a:visited {
  border-radius: 4px 4px 0 0;
  box-shadow: 0px -1px 1px $theme.borderColor;
}

/* -------------- Containers gradients -----------------*/
h1.xwikipaneltitle {
  background-color: $theme.panelHeaderBackgroundColor;
  #css3_backgroundLinearGradient({
     'to': 'bottom',
     'colors': [
      {'color': $theme.panelHeaderGradientColor, 'position': '0%'},
      {'color': $theme.panelHeaderBackgroundColor, 'position': '100%'}
    ]
  })
  border-radius: 4px 4px 0 0;
  color: $theme.panelHeaderTextColor;
  #css_textShadow('0', '1px', '0', $theme.panelHeaderGradientColor)
}

.collapsed h1.xwikipaneltitle {
  background-color: $theme.panelCollapsedBackgroundColor;
  #css3_backgroundLinearGradient({
     'to': 'bottom',
     'colors': [
      {'color': $theme.panelCollapsedGradientColor, 'position': '0%'},
      {'color': $theme.panelCollapsedBackgroundColor, 'position': '100%'}
    ]
  })
  color: $theme.panelCollapsedTextColor;
  #css_textShadow('0', '1px', '0', $theme.panelCollapsedGradientColor)
}

#contentmenu, #editmenu, ul.xwikitabbar {
  background-color: $theme.menuContentBackgroundColor;
  #css3_backgroundLinearGradient({
     'to': 'bottom',
     'colors': [
      {'color': $theme.menuContentGradientColor, 'position': '0%'},
      {'color': $theme.menuContentBackgroundColor, 'position': '100%'}
    ]
  })
  border-radius: 4px 4px 0 0;
}

#contentmenu.actionmenu a, #contentmenu.actionmenu a:visited, #contentmenu .menuarrow, #contentmenu .tmetype,
#editmenu.actionmenu a, #editmenu.actionmenu a:visited, #editmenu .menuarrow, #editmenu .tmetype,
.xwikitabbar li a, .xwikitabbar li a:visited, .xwikitabbar li a:active  {
  color: $theme.menuContentLinkColor;
  #css_textShadow('0', '1px', '0', $theme.menuContentGradientColor)
}

#contentmenu.actionmenu .submenuitem a ,
#editmenu.actionmenu .submenuitem a {
  text-shadow: none;
}

#contentmenu.actionmenu .submenu,
#editmenu.actionmenu .submenu {
  background-color: $theme.submenuContentBackgroundColor;
}

#mainmenu {
  #css3_backgroundLinearGradient({
     'to': 'bottom',
     'colors': [
      {'color': $theme.menuGradientColor, 'position': '0%'},
      {'color': $theme.menuBackgroundColor, 'position': '50%'}
    ]
  })
  box-shadow: 0px 1px 2px $theme.menuGradientColor;
}

#mainmenu .tmetype, #mainmenu .tme {
  #css_textShadow('0', '1px', '0', $theme.menuGradientColor)
}

#mainmenu .tmCreate .tme {
  text-shadow: none;
}

#mainmenu .submenu , #contentmenu .submenu  {
  box-shadow: 0px 1px 1px $theme.borderColor;
}

.actionmenu .submenu {
  border-radius: 0 0 10px 10px;
}

/* Gradients for tmCreate */
.actionmenu .tmCreate {
  border-radius: 4px 4px 4px 4px;
  padding-left: 0;
}

.actionmenu .tmCreate:hover {
  border-radius: 4px 4px 0px 0px;
}

.tmCreate  .tme-extensible {
  padding-left: 10px;
}

.tmCreate .submenu {
  border-radius: 0 10px 10px 10px;
  border: 2px solid $theme.menuAddEntryBackgroundColor;
}

/* @group COMPONENTS*/
/* --------------------------------------------------------------
  * Different classes with specific use
-------------------------------------------------------------- */
/* --------------XWiki items types list -----------------*/
/* Used by: Space Gadget, Information Tab */
ul.xlist {
  margin: 0 0 0 .5em;
  overflow: hidden;
  padding: 0;
}

ul.xlist li.xunderline {
  border-bottom: solid 1px $theme.borderColor;
}

ul.xlist li.xhighlight:hover {
  background-color: $theme.highlightColor;
}

ul.xlist li {
  float: right;
  padding: .1em 0;
  width: 100%;
}

ul.xlist li.space, ul.xlist li.page, ul.xlist li.comment, ul.xlist li.attachment {
  background-position: 2px 3px;
  background-repeat: no-repeat;
}

ul.xlist li.space {
  background-image: url("$xwiki.getSkinFile('icons/silk/folder.png')");
}

ul.xlist li.page {
  background-image: url("$xwiki.getSkinFile('icons/silk/page_white_text.png')");
}

ul.xlist li.comment {
  background-image: url("$xwiki.getSkinFile('icons/silk/comment.png')");
}

ul.xlist li.attachment {
  background-image: url("$xwiki.getSkinFile('icons/silk/attach.png')");
  padding-bottom: 0;
}

ul.xlist li.create a {
  background: url("$xwiki.getSkinFile('icons/silk/bullet_add.png')") 7px 3px no-repeat;
  color: $theme.textSecondaryColor;
  text-decoration: none;
  padding-left: 1.5em;
}

ul.xlist li.xitem .xitemcontainer {
  text-indent: 1.5em;
}

ul.xlist li.xitem .xitemcontainer ul.xlist {
  text-indent: 0;
}

/* -----------------------Boxes--------------------------*/
.box {
  margin: 1em 0;
  overflow: auto;
}

.box>*:first-child {
  margin-top: 0;
}
.box>*:last-child {
  margin-bottom: 0;
}

.code, .box {
  background-color: $theme.backgroundSecondaryColor;
  border: 1px dotted $theme.borderColor;
}

.code, .code pre, .code *  {
  font-family: monospace;
  white-space: pre;
}

/* ----------------------Messages------------------------*/
.errormessage, .warningmessage, .infomessage, .successmessage, .plainmessage {
  background-color: $theme.backgroundSecondaryColor;
  background-position: 6px 8px;
  background-repeat: no-repeat;
  border: 1px dotted $theme.borderColor;
  border-radius: 4px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1) inset;
  margin: 4px 0;
  overflow: auto;
  padding: 8px 28px;
  text-align: justify;
}

.infomessage {
  background-image: url("$xwiki.getSkinFile('icons/silk/information.png')");
  color: $theme.notificationInfoColor;
}

.warningmessage {
  background-image: url("$xwiki.getSkinFile('icons/silk/error.png')");
  color: $theme.notificationWarningColor;
}

.errormessage {
  background-image: url("$xwiki.getSkinFile('icons/silk/exclamation.png')");
  color: $theme.notificationErrorColor;
}

.successmessage {
  background-image: url("$xwiki.getSkinFile('icons/silk/tick.png')");
  color: $theme.notificationSuccessColor;
}

span.errormessage, span.warningmessage, span.infomessage, span.plainmessage {
  background-position: 2px center;
  overflow: visible;
  padding: 0 2px 0 22px;
}

.floatinginfobox {
  background-color: $theme.backgroundSecondaryColor;
  float: right;
  margin: .66em 0 1em 1em;
  padding: 10px;
}

/* Used by: Delete, Copy action message */
fieldset.xwikimessage {
  background-color: $theme.backgroundSecondaryColor;
  display: inline-block;
  margin: 5em auto;
  padding: 1.5em 2em;
  text-align: left;
}

fieldset.xwikimessage legend {
  color: $theme.titleColor;
  float: left;
  letter-spacing: .4em;
}

/* Used by: Login form and Delete table */
.xwikimessage table th, .xwikimessage table td {
  border: 0;
  padding: 3px 4px;
  white-space: nowrap;
}

.xwikimessage th {
  border-bottom: 1px solid $theme.borderColor;
  font-size: .85em;
  text-transform: uppercase;
}

/* ----------------- Accordion -----------------------*/

.accordionTabTitleBar h1 {
  display:block;
  background: $theme.panelHeaderBackgroundColor url("$xwiki.getSkinFile('icons/xwiki/accordion.png')") no-repeat left;
  border-bottom: 1px solid $theme.borderColor;
  border-top: 1px solid $theme.pageContentBackgroundColor;
  color: $theme.panelHeaderTextColor;
  font: 700 .8em / 1.8em sans-serif;
  margin: 0;
  padding: 4px 21px;
  text-transform: uppercase;
}

.accordionTabContentBox {
  background: $theme.backgroundSecondaryColor;
  overflow: auto;
  padding: 5px;
}

/* @group MACROS */
/* --------------------------------------------------------------
  * Different classes for specific macro usage
-------------------------------------------------------------- */
/* -----------------Footnote Macro-----------------------*/
ol.footnotes {
  border-top: 1px solid $theme.borderColor;
  font-size: 80%;
  padding: 1em;
}

.footnoteRef:target, .footnotes *:target {
  background-color: $theme.highlightColor;
  border: 1px dotted;
}

/* --------------------RSS Macro-------------------------*/
.rssfeed {
  background-color: $theme.pageContentBackgroundColor;
  border: 1px dotted $theme.borderColor;
  padding: 8px;
  width: 300px;
}

/* This rule is for allowing the RSS macro to use all width available when inserted as a gadget in a dashboard
but still maintain the 300 px width when used as a Macro from the WYSIWYG Editor */
.column .rssfeed {
  width: auto;
}

.rssfeed .rsschanneltitle {
  background-color: $theme.highlightColor;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
}

.rsschanneltitle span a img {
  margin-left: 5px;
}

.rssfeed .rssitem {
  padding: 5px;
}
