/* --------------------Recommendations---------------------------
  * alphabetical order for the proprieties
  * 2 spaces indentation for the proprieties
-------------------------------------------------------------- */
#template('colorThemeInit.vm')

/* @group STANDARD */
/* --------------------------------------------------------------
  * Sets the styles for standard HTML elements
-------------------------------------------------------------- */
/* Used by: Content in panels, vertical-menus, etc. */
ul, ol {
  padding: 0;
  margin-left: 2em;
}

/* Support nested <dl> */
li > dl, dt > dl, dd > dl {
  margin-left: 2em;
}

/* @group XWIKI */
/* --------------------------------------------------------------
  * XWiki Specific classes
-------------------------------------------------------------- */

/* ---------------------Verbatim-------------------------*/
tt.wikimodel-verbatim {
  font-family: sans-serif;
  white-space: pre-wrap;
}

/* Reset for verbatim inside monospace */
tt .wikimodel-verbatim {
  font-family: monospace;
}

/* -----------------Non Existing Links-------------------*/
span.wikicreatelink a {
  padding-right: 1em;
  position: relative;
  text-decoration: underline;
}

/* Round question mark with inverse colors */
span.wikicreatelink a:after {
  background-color: $theme.linkColor;
  border-radius: 1.2em; /* value of the line-height */
  color: $theme.pageContentBackgroundColor;
  content: "?";
  font-size: 75%;
  font-weight: 700;
  line-height: 1.2em;
  padding: 0 0.3em;
  position: absolute;
  right: 0;
  top: 0.2em;
}

/* -------------------Edit Section-----------------------*/
.edit_section {
  display: block;
  height: 20px; /* Size of the image */
  margin: -10px 0 0; /* The value of the <H> bottom margin */
  overflow: hidden;
  position: relative;
}

.edit_section a, .edit_section span {
  background: transparent url("$xwiki.getSkinFile('icons/xwiki/edit-section.png')") no-repeat left top;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  visibility: visible;
  width: 20px; /* Size of the image */
}

/* -----------------General Elements---------------------*/
.loading {
  background: transparent url("$xwiki.getSkinFile('icons/xwiki/spinner.gif')") no-repeat center;
}

/* ---------------------Avatars--------------------------*/
.avatar_30 {
  max-width: 30px;
  max-height: 30px;
}

.avatar_50 {
  max-width: 50px;
  max-height: 50px;
}

.avatar_120 {
  max-width: 120px;
  max-height: 120px;
}

th.avatar {
  width: 50px;
}

/* @group VIEW LAYOUT */
/* --------------------------------------------------------------
  * Layout elements for Colibri skin in view mode
-------------------------------------------------------------- */

/* ----------------------Header--------------------------*/
#headerglobal {
  background: $theme.pageHeaderBackgroundColor $!{theme.headerBackgroundImage} $!{theme.headerBackgroundPosition};
}

#company {
  float: left;
}

#globallinks {
  float: right;
}

.globalsearch input.button {
  background-color: transparent;
  background-image: none;
  border: 0;
  padding: 0;
}

#headerlanguages {
  display: block;
  text-align: right;
}

/* ----------------------Content-------------------------*/
#mainContentArea, #mainEditArea  {
  overflow: auto;
}

#xwikicontent {
  clear: both;
  overflow: auto;
  width: 100%;
}

/* -----------------Top Doc Information------------------*/
#document-info {
  text-align: right;
}

.xdocLastModification {
  float: left;
  text-align: left;
  width: 48%;
}

/* ---------------Bottom Doc Information------------------*/
#xdocFooter {
  overflow: auto;
}

#xdocAuthors {
  text-align: right;
}

/* --------------------Doc Extra Tabs--------------------*/
#docextrapanes {
  overflow: auto;
}

.xwikiintracontent fieldset {
  margin: 10px 0 0;
}

.xwikiintracontent legend {
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 0.1em;
}

/* ---------------------History--------------------------*/
#historyform .currentversion td {
  background-color: $theme.highlightColor;
}

/* ---------------------Changes--------------------------*/
#changes-info {
  background: $theme.backgroundSecondaryColor;
  text-align: center;
  position: relative;
}

/* Create a theme-able arrow using CSS generated divs */
#changes-info:before, #changes-info:after {
  content: "";
  display: block;
  position: absolute;
}

#changes-info:before {
  top: 3em;
  right: 50%;
  width: 2em;
  height: 2em;
  background: $theme.pageContentBackgroundColor;
}

#changes-info:after {
  top: 2em;
  left: 50%;
  border-left: 3em solid $theme.pageContentBackgroundColor;
  border-top: 2em solid transparent;
  border-bottom: 2em solid transparent;
}

#changes-info-boxes {
  line-height: 1.4em;
  padding: 1.5em 0 0;
  /* Ensure that the text stays above the arrow */
  position: relative;
  z-index: 1;
}

#changes-info-box-from {
  float: left;
  width: 49%;
}

#changes-info-box-to {
  margin-left: 51%;
}

.changes-info-title {
  font-size: 1.4em;
  font-weight: 700;
}

#changes-info-comment {
  padding: 1.5em 0 1em;
}

/* -------------------View Source------------------------*/
.wiki-code {
  width: 100%;
}

/* -------------------Information------------------------*/
#informationcontent dd {
  padding: 0 1em 1em;
}

/* ----------------------Footer--------------------------*/
#footerglobal hr {
  display: none;
}

/* @group EDIT LAYOUT  */
/* --------------------------------------------------------------
  *  Layout elements for Junco skin in edit mode
-------------------------------------------------------------- */
.alleditcontent label {
  display: block;
  margin: 10px 0 4px;
}

#xwikidoctitleinput, .alleditcontent #parentinput input {
  width: 100%;
}

.inlinebody #hierarchy, .editbody #hierarchy {
  display: inline-block;
}

/* "Edit parent" icon */
.edit-meta-tools {
  display: inline-block;
  vertical-align: middle;
}

#mainEditArea:target #hierarchy, #mainEditArea:target .edit-meta-tools,
#mainContentArea:target #hierarchy, #mainContentArea:target .edit-meta-tools {
  display: none;
}

.edit-meta-tools a {
  display: block;
  width: 16px;
  height: 16px;
  overflow: hidden;
  text-indent: -9999px;
  background: transparent none left top no-repeat;
  margin-left: 4px;
}

.edit-meta-tools a.edit-parent {
  background-image: url("$xwiki.getSkinFile('icons/xwiki/parent_edit.gif')");
}

.edit-meta-tools a.hide-edit-parent {
  background-image: url("$xwiki.getSkinFile('icons/silk/chart_organisation.png')");
}

/* Parent editing area */
#mainEditArea #parentinput, #mainContentArea #parentinput {
  display: none;
  background: $theme.backgroundSecondaryColor;
  padding: 4px 12px;
  margin: 0 -12px 8px -12px;
}

#mainEditArea:target #parentinput, #mainContentArea:target #parentinput,
#mainEditArea #parentinput.active, #mainContentArea #parentinput.active  {
  display: block;
}

#parentinput label {
  margin: 0;
}

#parentinput input {
  color: $theme.linkColor;
}

/* @group EDITORS  */
/* --------------------------------------------------------------
  * These classes should be moved in proper editor css files
-------------------------------------------------------------- */
/* --------------------Wiki Editor-----------------------*/
.leftmenu2 { /* TODO: Rename */
  background-color: #f0f0ee;
  padding: 2px;
}

.leftmenu2 a img {
  margin: 2px;
}

#xwikieditcontentinner {
  border: 1px solid $theme.borderColor;
}

#xwikieditcontentinner #content {
  border: 0;
  width: 100%;
}

.wikimodel-emptyline {
  height: 1em;
}

.xwikirenderingerror {
  display: block;
}

.xwikirenderingerrordescription {
  border-width: 0 1px 1px;
  clear: both;
  display: block;
  font-size: 90%;
  overflow: auto;
}

/* ----------------Objects Editor------------------------*/
/* TODO: Move - Should be in dataeditors.css - added dt, div */
#body #xwikiobjects dt label, #body #xwikiclassproperties dt label {
  color: $theme.titleColor;
  font-size: 1.1em;
  font-weight: 400;
}

/* --------------DocumentInfo Panel----------------------*/
.DocumentInformation input#xhidden {
  width: auto;
  margin-right: 0.5em;
}

/* @group MENU */
/* --------------------------------------------------------------
  * Action Menu elements
-------------------------------------------------------------- */

/* ----------------Menus z-indexes-----------------------*/
#mainmenu, #mainmenu.submenu {
  z-index: 1000;
}

#contentmenu, #contentmenu.submenu, #contenteditmenu, #contenteditmenu.submenu {
  z-index: 999;
}

/* ---------------------General--------------------------*/
.actionmenu {
  position: relative;
  z-index: 999;
}

.submenu {
  position: absolute;
}

.topmenuentry {
  float: left;
}

.rightmenu .topmenuentry {
  float: right;
}

.submenu .submenuseparator {
  display: block;
}

.actionmenu .hasIcon {
  background: no-repeat 0 50%;
}

.dropdownnolink a.tme:hover {
  text-decoration: none;
}

.submenuitem a {
  background: no-repeat 0;
  display: block;
  padding-left: 20px;
}

.actionmenu .tmCreate {
  margin-right: 2em;
}

/* ----------------------Icons---------------------------*/
.actionmenu .tmCreate {
  background-image: url("$xwiki.getSkinFile('icons/silk/add.png')");
}

.actionmenu .tmWiki {
  background-image: url("$xwiki.getSkinFile('icons/silk/world.png')");
}

.actionmenu .tmAdminWiki {
  background-image: url("$xwiki.getSkinFile('icons/silk/wrench.png')");
}

.actionmenu .tmCreateSpace {
  background-image: url("$xwiki.getSkinFile('icons/silk/folder_add.png')");
}

.actionmenu .tmSpace {
  background-image: url("$xwiki.getSkinFile('icons/silk/folder.png')");
}

.actionmenu .tmAdminSpace {
  background-image: url("$xwiki.getSkinFile('icons/silk/wrench.png')");
}

.actionmenu .tmSpaceDelete {
  background-image: url("$xwiki.getSkinFile('icons/silk/cross.png')");
}

.actionmenu .tmPage {
  background-image: url("$xwiki.getSkinFile('icons/silk/page_white_text.png')");
}

.actionmenu .tmCreatePage, .actionmenu .tmCreatePageFromOffice {
  background-image: url("$xwiki.getSkinFile('icons/silk/page_white_add.png')");
}

.actionmenu .tmCreateComment {
  background-image: url("$xwiki.getSkinFile('icons/silk/comment_add.png')");
}

.actionmenu .tmCreateAttachment{
  background-image: url("$xwiki.getSkinFile('icons/xwiki/attach_add.gif')");
}

.actionmenu .tmEdit {
  background-image: url("$xwiki.getSkinFile('icons/silk/page_white_edit.png')");
}

.actionmenu .tmEditWiki, .actionmenu .tmViewSource {
  background-image: url("$xwiki.getSkinFile('icons/silk/page_white_code.png')");
}

.actionmenu .tmEditWysiwyg {
  background-image: url("$xwiki.getSkinFile('icons/silk/page_white_edit.png')");
}

.actionmenu .tmEditInline {
  background-image: url("$xwiki.getSkinFile('icons/silk/application_form.png')");
}

.actionmenu .tmEditRights {
  background-image: url("$xwiki.getSkinFile('icons/silk/lock.png')");
}

.actionmenu .tmEditObject {
  background-image: url("$xwiki.getSkinFile('icons/silk/brick.png')");
}

.actionmenu .tmEditClass {
  background-image: url("$xwiki.getSkinFile('icons/silk/box.png')");
}

.actionmenu .tmExportPdf {
  background-image: url("$xwiki.getSkinFile('icons/silk/page_white_acrobat.png')");
}

.actionmenu .tmExportOdt {
  background-image: url("$xwiki.getSkinFile('icons/xwiki/odf_textdocument.png')");
}

.actionmenu .tmExportRtf {
  background-image: url("$xwiki.getSkinFile('icons/silk/page_white_word.png')");
}

.actionmenu .tmExportHtml {
  background-image: url("$xwiki.getSkinFile('icons/silk/page_white_world.png')");
}

.actionmenu .tmExportXar {
  background-image: url("$xwiki.getSkinFile('icons/silk/page_white_compressed.png')");
}

.actionmenu .tmPrintPreview {
  background-image: url("$xwiki.getSkinFile('icons/silk/page_white_magnify.png')");
}

.actionmenu .tmActionDelete {
  background-image: url("$xwiki.getSkinFile('icons/silk/cross.png')");
}

.actionmenu .tmActionRename {
  background-image: url("$xwiki.getSkinFile('icons/silk/textfield_rename.png')");
}

.actionmenu #tmActionShare {
  background-image: url("$xwiki.getSkinFile('icons/silk/email_go.png')");
}

.actionmenu .tmActionCopy {
  background-image: url("$xwiki.getSkinFile('icons/silk/page_white_copy.png')");
}

.actionmenu .tmUser {
  background-image: url("$xwiki.getSkinFile('icons/silk/user.png')");
}

.actionmenu .tmProfile {
  background-image: url("$xwiki.getSkinFile('icons/silk/vcard.png')");
}

.actionmenu .tmUserPreferences {
  background-image: url("$xwiki.getSkinFile('icons/silk/wrench.png')");
}

.actionmenu .tmWatchWiki, .actionmenu .tmWatchSpace, .actionmenu .tmWatchDocument {
  background-image: url("$xwiki.getSkinFile('icons/xwiki/star-gray.png')");
}

.actionmenu .tmWatchlistManager, .actionmenu .tmUnwatchWiki, .actionmenu .tmUnwatchSpace, .actionmenu .tmUnwatchDocument {
  background-image: url("$xwiki.getSkinFile('icons/xwiki/star-yellow.png')");
}

.actionmenu .tmWikiDocumentIndex, .actionmenu .tmSpaceDocumentIndex {
  background-image: url("$xwiki.getSkinFile('icons/silk/book_open.png')");
}

.actionmenu .tmUserNetwork {
  background-image: url("$xwiki.getSkinFile('icons/silk/group.png')");
}

.actionmenu .tmUserDashboard {
  background-image: url("$xwiki.getSkinFile('icons/silk/application_view_tile.png')");
}

/* Styles for the floating menu, when scrolling down the page. */
.floating-menu {
  margin-top: -26px;
}
.floating-menu:hover {
  margin-top: 0;
}
.floating-menu:after {
  bottom: 0;
  background: inherit;
  content: ".......";
  display: block;
  font-size: 0.6em;
  height: 0.5em;
  letter-spacing: 0.2em;
  line-height: 0.3em;
  padding: 0 0 0.1em;
  position: absolute;
  text-align: center;
  width: 100%;
}

.floating-menu:hover:after {
  content: "";
  display: none;
}

/* @group FORMS */
/* --------------------------------------------------------------
  * Forms components
-------------------------------------------------------------- */
.xform h2, .xform legend {
  font-size: 1.2em;
  font-weight: 900;
  line-height: 1.2em;
}

.xform h2 {
  margin: 2em 0 0;
}

.xform fieldset {
  margin: 2em 0;
}

.xform fieldset:first-of-type {
  margin-top: 1em;
}

.xform fieldset:last-of-type {
  margin-bottom: 1em;
}

.xform label input[type=checkbox], .xform label input[type=radio] {
  margin-right: 0.2em;
  vertical-align: baseline;
}

.xform dt label {
  display: block;
}

/* Buttons next to the labels, for example the Customize buttons in Administration->Presentation */
.xform dt label .buttonwrapper {
  float: right;
  margin: 0 1% .3em;
}

.xform .xRequired {
  font-style: italic;
  margin-left: 1ex;
}

.xform .xHelp {
  background: transparent url("$xwiki.getSkinFile('icons/silk/information.png')") 0 0 no-repeat;
  float: right;
  height: 16px;
  line-height: 250px; /* Push the text away. */
  margin-top: -20px; /* Should be 16px + 0.3em */
  margin-right: 1px; /* Compensate for the border on the input elements */
  overflow: hidden;
  text-align: left !important; /* Make sure the text is left-aligned so that the inner box always starts at the top-left corner */
  width: 16px;
}

/* @group BUTTONS */
/* --------------------------------------------------------------
  * Button elements different containers
-------------------------------------------------------------- */
.buttonwrapper {
  display: inline;
  margin: 5px 5px 0 0;
}

.buttonwrapper .button {
  vertical-align: middle;
}

*:disabled, input.disabled, button.disabled, .buttonwrapper a.disabled, .edit_section.disabled {
  opacity: .5;
  cursor: default;
}

/* --------------------- Icons --------------------------*/
/* Small icon buttons */
input.icon-button {
  background: transparent none center center no-repeat;
  border: 0 none;
  font-size: 80%;
  height: 16px;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  width: 16px;
}

.icon-button.add-button {
  background-image: url("$xwiki.getSkinFile('icons/silk/add.png')");
}

.icon-button.remove-button {
  background-image: url("$xwiki.getSkinFile('icons/silk/cross.png')");
}

.icon-button.accept-button {
  background-image: url("$xwiki.getSkinFile('icons/silk/accept.png')");
}

.icon-button.search-button {
  background-image: url("$xwiki.getSkinFile('icons/xwiki/search.png')");
}

/* Decorative icons */
.icon {
  vertical-align: middle;
}

.hasIcon {
  background: none no-repeat scroll 0 0 transparent;
  padding-left: 20px;
}

.iconRSS {
  background-image: url("$xwiki.getSkinFile('icons/silk/feed.png')");
}

/* @group VERTICAL MENU */
/* --------------------------------------------------------------
  * Vertical menus used in Administration and Profile
-------------------------------------------------------------- */

/* ------------------General styling---------------------*/
.vertical-menu {
  float: left;
  font-size: .857em;/* 14px -> 12px */
  margin: 0 2em 2em 0;
  width: 15em;
}

.vertical-menu span {
  background: none no-repeat scroll 0 transparent;
  display: block;
}

.vertical-menu a {
  display: block;
  padding: .5em .5em .5em 30px;
  text-decoration: none;
  word-wrap: break-word;
}

/* @group PANELS */
/* --------------------------------------------------------------
  * Panel elements
-------------------------------------------------------------- */

h1.xwikipaneltitle {
  cursor: pointer;
}

.xwikipanelcontents {
  overflow: hidden;
}

.collapsed .xwikipanelcontents {
  display: none;
}

.panel ul {
  list-style-type: none;
  margin: 0;
}

.panel ul ul {
  margin-left: 2em;
}

/* Used by: Create Page Panel, Document Information Panel */
.panel input, .panel select {
  width: 100%;
}

/* @group COMPONENTS */
/* --------------------------------------------------------------
  * Different classes with specific use
-------------------------------------------------------------- */

/* --------------XWiki items types list -----------------*/
/* Used by: Spaces Macro, Spaceindex Macro, Information Tab */
ul.xlist {
  margin: 0 0 0 .5em;
  overflow: hidden;
  padding: 0;
}

ul.xlist li.xunderline {
  border-bottom: solid 1px $theme.borderColor;
}

ul.xlist li.xhighlight:hover {
  background-color: $theme.highlightColor;
}

ul.xlist li {
  float: right;
  padding: .1em 0;
  width: 100%;
}

ul.xlist li.space, ul.xlist li.page, ul.xlist li.comment, ul.xlist li.attachment {
  background-position: 2px 3px;
  background-repeat: no-repeat;
}

ul.xlist li.space {
  background-image: url("$xwiki.getSkinFile('icons/silk/folder.png')");
}

ul.xlist li.page {
  background-image: url("$xwiki.getSkinFile('icons/silk/page_white_text.png')");
}

ul.xlist li.comment {
  background-image: url("$xwiki.getSkinFile('icons/silk/comment.png')");
}

ul.xlist li.attachment {
  background-image: url("$xwiki.getSkinFile('icons/silk/attach.png')");
  padding-bottom: 0;
}

ul.xlist li.create a {
  background: url("$xwiki.getSkinFile('icons/silk/bullet_add.png')") 7px 3px no-repeat;
  text-decoration: none;
  padding-left: 1.5em;
}

ul.xlist li.xitem .xitemcontainer {
  text-indent: 1.5em;
}

ul.xlist li.xitem .xitemcontainer ul.xlist {
  text-indent: 0;
}

/* ----------------------Messages------------------------*/
/* Used by: Toc Macro */
.floatinginfobox {
  float: right;
  margin: 1em 0 1em 1em;
}

/* Used by: Delete, Copy action message */
fieldset.xwikimessage {
  display: inline-block;
  margin: 5em auto;
  text-align: left;
}

fieldset.xwikimessage legend {
  float: left;
  letter-spacing: .4em;
}

/* Used by: Login form and Delete table */
.xwikimessage table th, .xwikimessage table td {
  border: 0;
  padding: 3px 4px;
  white-space: nowrap;
}

/* ----------------- Accordion --------------------------*/
/* Used by: Panel Wizard */
.accordionTabTitleBar h1 {
  background: $theme.panelHeaderBackgroundColor url("$xwiki.getSkinFile('icons/xwiki/accordion.png')") no-repeat left;
  border-bottom: 1px solid $theme.borderColor;
  border-top: 1px solid $theme.pageContentBackgroundColor;
  margin: 0;
  padding: 4px 21px;
}

.accordionTabContentBox {
  background: $theme.backgroundSecondaryColor;
  overflow: auto;
  padding: 5px;
}

/* -----------------Footnote Macro-----------------------*/
ol.footnotes {
  border-top: 1px solid $theme.borderColor;
  font-size: 80%;
  padding: 1em;
}

.footnoteRef:target, .footnotes *:target {
  background-color: $theme.highlightColor;
  border: 1px dotted;
}

/* --------------------RSS Macro-------------------------*/
.rssfeed .rsschanneltitle {
  font-weight: 700;
  text-align: center;
}

.rsschanneltitle span a img {
  margin-left: 5px;
}

.rssfeed .rssitem {
  padding: 5px;
}
